@import "/styles/reset.css";
@import "_variables";
@import "_mixins";

@keyframes moveText {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-80%);
  }
}

* {
  box-sizing: border-box;
}

body {
  text-transform: uppercase;
  height: 100vh;
  background-color: $bgColor;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: $gap;
  & > * {
    background-color: white;
    color: $bgColor;
    @extend %flex-center;
    font-size: 1.5em;
  }
  .title {
    letter-spacing: 0.4em;
    font-style: italic;
    font-weight: 600;
  }
  .menu {
    @extend %button;
  }
  .center-img {
    grid-column: 2/-2;
    grid-row: 2/-2;
    background-image: url("/static/even.jpg");
    background-size: cover;
    background-position: center;
  }
  .number__row {
    display: grid;
    gap: $gap;
    background-color: $bgColor;
    align-items: stretch;
    justify-content: stretch;
    .number {
      @extend %button;
    }
  }
  .moving-text {
    overflow: hidden;
    white-space: nowrap;
    span {
      animation: moveText 10s ease-out infinite;
    }
  }
}
