html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.grid, main, .home, .service, .images {
  background-color: #000;
  gap: 3px;
  display: grid;
}

.grid {
  height: 100%;
  border: 3px solid #000;
  grid-template-columns: 1fr 4fr;
}

main {
  grid-template-rows: 4fr 1fr;
}

.home, .service {
  grid-template-columns: 1fr 2fr;
}

.home .images {
  grid-template-rows: repeat(8, minmax(10px, 1fr));
  grid-template-columns: repeat(6, minmax(10px, 1fr));
}

.service .images {
  grid-template-rows: repeat(2, minmax(10px, 1fr));
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  grid-auto-flow: column;
}

.home .image:first-child {
  grid-area: 1 / span 3 / -1;
}

.home .image:nth-child(2) {
  grid-area: span 4 / span 3;
}

.home .image:nth-child(3), .home .image:last-child {
  grid-area: span 2 / span 2;
}

.home .image:nth-child(6) {
  grid-row: span 2;
}

.service .image:first-child {
  grid-row: 1 / -1;
}

.service .image:last-child {
  grid-area: 1 / 3 / -1 / -1;
}

.left {
  grid-template-rows: .5fr .5fr 1fr;
  display: grid;
}

.header, .footer, .text {
  padding: 1vw;
}

.category {
  text-transform: uppercase;
  opacity: .7;
  margin-bottom: 3vh;
  font-size: 1vw;
}

h4 {
  font-size: 2vw;
}

li {
  text-transform: uppercase;
  font-size: 1vw;
}

li:hover, .contact:hover {
  cursor: pointer;
  opacity: .5;
}

nav li {
  border-top: 1px solid #000;
  padding: .5vw;
}

nav li:first-child {
  background-color: #dcdcdc !important;
}

nav li:last-child {
  border-bottom: 1px solid #000;
}

.footer {
  align-self: end;
}

.contact {
  flex-direction: column;
  margin-bottom: 3vh;
  font-size: 1vw;
  display: flex;
}

.branch {
  font-size: 1.1vw;
  font-weight: 500;
}

.language ul {
  display: flex;
}

.language li {
  margin-right: .5vw;
}

.language li:not(:first-child):before {
  content: "|";
  margin-right: .5vw;
}

h2 {
  margin-right: 12vw;
  font-size: 2.5vw;
}

p {
  margin-top: 1vh;
  font-size: 1vw;
}

.service .text {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.service h4 {
  margin-right: 10vw;
}

.left, .text {
  background-color: #fff;
}

.image {
  background-position: center;
  background-size: cover;
}

.image:nth-child(n) {
  background-image: url("https://source.unsplash.com/random/450x450");
}

.image:nth-child(2n) {
  background-image: url("https://source.unsplash.com/random/450x451");
}

.image:nth-child(3n) {
  background-image: url("https://source.unsplash.com/random/450x452");
}

.image:hover {
  cursor: pointer;
  filter: contrast(200%);
}

/*# sourceMappingURL=index.ffa8ac0c.css.map */
