<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.scss" />
    <script
      src="https://kit.fontawesome.com/aa1d5970f0.js"
      crossorigin="anonymous"
    ></script>
    <title>layout</title>
  </head>
  <body>
    <header class="filters">
      <div class="filter">
        <div>
          <span>Year: </span>
          <span class="select filter--year">All</span>
        </div>
        <span>▼</span>
      </div>
      <div class="filter">
        <div>
          <span>Programme: </span>
          <span class="select filter--program">All</span>
        </div>
        <span>▼</span>
      </div>
      <div class="filter">
        <div>
          <span>Themes: </span>
          <span class="select filter--themes">All</span>
        </div>
        <span>▼</span>
      </div>
      <div class="filter">
        <div>
          <span>Practice: </span>
          <span class="select filter--practice">All</span>
        </div>
        <span>▼</span>
      </div>
      <div class="filter">
        <div>
          <span class="select filter--students">Students</span>
        </div>
        <span>▼</span>
      </div>
    </header>
    <main>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
      <section class="post">
        <header class="post__header">
          <span class="post__author">sonyun247</span>
          <span class="post__course">css layout</span>
        </header>
        <div class="post__content"></div>
        <footer class="post__footer">
          <span class="post__date">2021</span>
          <span class="post__detail">
            <a href="#">Read more</a>
          </span>
        </footer>
      </section>
    </main>
  </body>
</html>
