html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-background: #fff;
  --color-text: #1c1b1b;
  --color-button: #e8e8e8;
  --color-border: #ddd;
  --color-hover: #ffffffb3;
  --size-padding: 7vh 7vw;
  --size-padding-title: 2vh 2vw;
  --size-header-margin: 5vh;
  --size-margin-bottom: 5vh;
  --size-grid-gap: 2vw;
  --font-regular: 1.8vh;
  --font-small: 1vh;
  --font-medium: 2.8vh;
  --font-large: 3.5vh;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: var(--font-regular);
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

body h3 {
  font-size: var(--font-large);
}

body h5 {
  font-size: var(--font-medium);
}

body h6 {
  font-size: var(--font-regular);
}

body p {
  text-align: justify;
  line-height: 1.5;
}

body em {
  font-style: italic;
}

body ul {
  display: flex;
}

body li {
  text-transform: uppercase;
}

body a {
  color: inherit;
  text-decoration: none;
}

body img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body button {
  cursor: pointer;
  background-color: var(--color-button);
  text-transform: uppercase;
  font-size: var(--font-regular);
  border: none;
}

body article {
  height: 100vh;
}

body .grid {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

body .hero__article {
  position: relative;
}

body .hero__article .hero__link {
  height: 100%;
  display: block;
}

body .hero__article .hero__title {
  padding: var(--size-padding-title);
  letter-spacing: 3px;
  font-weight: var(--weight-regular);
  position: absolute;
  top: 0;
  left: 0;
}

body .btn--active {
  border-bottom: 1px solid var(--color-text);
}

body .spot {
  height: 1vw;
  width: 1vw;
  background-color: var(--color-background);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: transform .3s ease-in-out;
  position: absolute;
}

body .spot:after {
  content: "";
  height: 2vw;
  width: 2vw;
  background-color: var(--color-background);
  opacity: .5;
  border-radius: 50%;
  animation: grow 2s ease-in-out infinite;
  position: absolute;
  top: -50%;
  left: -50%;
}

body .spot:hover {
  transform: scale(2);
}

@keyframes grow {
  from, to {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.header.grid {
  z-index: 1;
  height: var(--size-header-margin);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  grid-template-columns: 17% 60% 23%;
  align-items: center;
  padding: 1vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header.grid .logo {
  text-transform: capitalize;
  text-align: center;
}

.header.grid nav {
  width: 100%;
}

.header.grid nav li:not(:last-child) {
  padding-right: 3.5vw;
}

.main {
  margin-top: var(--size-header-margin);
}

.main .items .items__item {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.main .items .items__item .item__info {
  background-color: var(--color-hover);
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1vh;
  transition: opacity .5s ease-in-out;
  display: flex;
  position: absolute;
}

.main .items .items__item .item__info span {
  font-size: calc(.5vh + var(--font-regular) );
}

.main .items .items__item .item__info span:first-child {
  text-transform: capitalize;
  font-weight: var(--weight-bold);
  margin-bottom: 1vh;
}

.main .items .items__item .item__info span:last-child:after {
  content: " DKK";
}

.main .items .items__item:hover .item__info {
  opacity: 1;
}

.main .season-collection {
  padding: var(--size-padding);
  grid-template-columns: 1fr;
  justify-items: center;
}

.main .season-collection > * {
  margin-bottom: var(--size-margin-bottom);
}

.main .season-collection .season-collection__tab {
  gap: var(--size-grid-gap);
  padding: 5vh;
}

.main .season-collection .season-collection__tab .tab__btn {
  font-size: var(--font-medium);
  background-color: var(--color-background);
}

.main .season-collection .season-collection__items {
  height: 60vh;
  margin-bottom: calc(2 * var(--size-margin-bottom) );
  grid-template-columns: repeat(4, 1fr);
}

.main .season-collection .season-collection__more {
  letter-spacing: 2px;
  padding: var(--size-padding-title);
}

.main .main-campaign {
  margin-bottom: var(--size-margin-bottom);
}

.main .main-campaign .article-text {
  flex-direction: column;
  padding: 22vh 4vw;
  display: flex;
}

.main .main-campaign .article-text h5 {
  margin-bottom: 4vh;
}

.main .main-campaign .article-text p {
  margin-bottom: 3vh;
}

.main .main-campaign .article-text:last-child {
  padding-left: 8vw;
}

.main .main-campaign .article-text:last-child h5 {
  margin-bottom: 6vh;
}

.main .main-campaign .article-text:last-child a {
  width: fit-content;
  font-size: var(--font-medium);
  border-bottom: 1px solid var(--color-text);
}

.main .main-campaign:nth-child(3) span {
  margin-bottom: 3vh;
}

.main .main-campaign:nth-child(3) p {
  padding-right: 5vw;
}

.main .sns {
  margin-bottom: calc(2 * var(--size-margin-bottom) );
  grid-template-columns: repeat(5, 1fr);
}

.main .sns .sns__slideshow {
  height: 40vh;
}

.main .sns .sns__slideshow a {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.main .sns .sns__slideshow a:hover i {
  opacity: 1;
}

.main .sns .sns__slideshow a:hover img {
  filter: brightness(50%);
}

.main .sns .sns__slideshow a img {
  transition: filter .3s ease-in;
}

.main .sns .sns__slideshow a i {
  font-size: var(--font-large);
  color: var(--color-background);
  opacity: 0;
  transition: opacity .3s ease-in;
  position: absolute;
}

.main .lookbook {
  margin-bottom: calc(2 * var(--size-margin-bottom) );
  justify-items: center;
  padding: 7vh 13vw;
}

.main .lookbook .lookbook__header {
  margin-bottom: calc(2 * var(--size-margin-bottom) );
  grid-column: 1 / -1;
}

.main .lookbook .lookbook__pictorial {
  position: relative;
}

.main .lookbook .lookbook__pictorial .pictorial__spot {
  top: 40%;
  left: 30%;
}

.main .lookbook .lookbook__pictorial .pictorial__spot:last-child {
  top: 90%;
  left: 60%;
}

.main .lookbook .lookbook__detail {
  height: 60vh;
  width: 60%;
  align-self: center;
}

.main .lookbook .lookbook__detail .item__img {
  margin-bottom: 3vh;
}

.main .lookbook .lookbook__detail .item__view {
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: flex-start;
}

footer.grid {
  gap: var(--size-grid-gap);
  padding: var(--size-padding);
  grid-template-columns: repeat(3, 1fr);
}

footer.grid .footer__newsletter .newsletter__title, footer.grid .footer__newsletter label {
  grid-column: 1 / -1;
}

footer.grid .footer__newsletter #email {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-text);
  padding-left: 1vw;
}

footer.grid .footer__newsletter #email::placeholder {
  font-size: var(--font-regular);
  opacity: .5;
}

footer.grid .footer__newsletter .newsletter__btn {
  width: 100%;
  background-color: var(--color-text);
  color: var(--color-background);
}

footer.grid .footer__info {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

footer.grid .footer__info .info__follow {
  justify-content: center;
}

footer.grid .footer__info .info__follow li:not(:last-of-type):after {
  content: "•";
}

footer.grid .footer__info .info__email {
  margin-top: 2vh;
  display: block;
}

footer.grid .footer__nav {
  justify-self: end;
}

footer.grid .footer__nav nav {
  gap: var(--size-grid-gap);
}

footer.grid .footer__nav nav ul {
  flex-direction: column;
}

footer.grid .footer__nav nav ul li {
  text-transform: unset;
  padding-bottom: 1vh;
}

footer.grid .footer__payments {
  grid-column: 1 / -1;
}

footer.grid .footer__payments ul {
  justify-content: end;
}

footer.grid .footer__payments ul li {
  border: 1px solid var(--color-border);
  border-radius: 10%;
}

footer.grid .footer__payments ul li:not(:last-child) {
  margin-right: 1vw;
}

footer.grid .footer__payments ul li img {
  height: 3vh;
}

footer.grid .footer__payments ul li span {
  display: none;
}

/*# sourceMappingURL=index.b04227c0.css.map */
