@import "/styles/reset.css";

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  padding: 1vw;
  font-weight: 300;
  line-height: 1.2;
}
.grid,
main,
.home,
.service,
.images {
  display: grid;
  background-color: black;
  gap: 3px;
}
.grid {
  height: 100%;
  grid-template-columns: 1fr 4fr;
  border: 3px solid black;
}
main {
  grid-template-rows: 4fr 1fr;
}
.home,
.service {
  grid-template-columns: 1fr 2fr;
}
.home .images {
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  grid-template-rows: repeat(8, minmax(10px, 1fr));
}
.service .images {
  grid-auto-flow: column;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  grid-template-rows: repeat(2, minmax(10px, 1fr));
}
.home .image:first-child {
  grid-column: span 3;
  grid-row: 1 / -1;
}
.home .image:nth-child(2) {
  grid-column: span 3;
  grid-row: span 4;
}
.home .image:nth-child(3),
.home .image:last-child {
  grid-column: span 2;
  grid-row: span 2;
}
.home .image:nth-child(6) {
  grid-row: span 2;
}
.service .image:first-child {
  grid-row: 1 / -1;
}
.service .image:last-child {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}

.left {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}
.header,
.footer,
.text {
  padding: 1vw;
}
.category {
  text-transform: uppercase;
  font-size: 1vw;
  opacity: 0.7;
  margin-bottom: 3vh;
}
h4 {
  font-size: 2vw;
}
li {
  text-transform: uppercase;
  font-size: 1vw;
}
li:hover,
.contact:hover {
  cursor: pointer;
  opacity: 0.5;
}
nav li {
  border-top: 1px solid black;
  padding: 0.5vw;
}
nav li:first-child {
  background-color: gainsboro !important;
}
nav li:last-child {
  border-bottom: 1px solid black;
}
.footer {
  align-self: end;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  font-size: 1vw;
}
.branch {
  font-size: 1.1vw;
  font-weight: 500;
}
.language ul {
  display: flex;
}
.language li {
  margin-right: 0.5vw;
}
.language li:not(:first-child)::before {
  content: "|";
  margin-right: 0.5vw;
}

h2 {
  font-size: 2.5vw;
  margin-right: 12vw;
}
p {
  margin-top: 1vh;
  font-size: 1vw;
}
.service .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service h4 {
  margin-right: 10vw;
}

.left,
.text {
  background-color: white;
}
.image {
  background-position: center;
  background-size: cover;
}
.image:nth-child(n) {
  background-image: url("https://source.unsplash.com/random/450x450");
}
.image:nth-child(2n) {
  background-image: url("https://source.unsplash.com/random/450x451");
}
.image:nth-child(3n) {
  background-image: url("https://source.unsplash.com/random/450x452");
}
.image:hover {
  cursor: pointer;
  filter: contrast(200%);
}
