@import "../reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.15);
  --color-blue: #0065ff;

  --size-header: 10vh;
  --size-border-radius: 15px;
  --size-padding: 1vh;
  --size-grid-gap: 7vh;

  --font-small: 1.5vh;
  --font-regular: 2vh;
  --font-medium: 2.5vh;
  --font-large: 3vh;

  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 100;

  --animation-duration: 0.3s;
}

* {
  box-sizing: border-box;
}
body#home {
  font-family: "Raleway", sans-serif;
  font-size: var(--font-regular);
  background-color: var(--color-white);
  letter-spacing: 1.5;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
  }
  h1 {
    font-size: var(--font-large);
  }
  h6 {
    font-size: var(--font-regular);
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      opacity: 0.6;
    }
  }
  i {
    transition: all var(--animation-duration) ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .home__header {
    width: 100%;
    height: var(--size-header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    .header__title {
      padding: var(--size-padding);
      width: max-content;
      border: 1px solid var(--color-black);
    }
  }
  .home__main {
    margin-top: var(--size-header);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
    grid-auto-rows: max-content;
    place-items: center center;
    padding: 5vh 3vw;
    gap: var(--size-grid-gap);
    .cards {
      height: max-content;
      width: 100%;
      border-radius: var(--size-border-radius);
      overflow: hidden;
      border: 1px solid var(--color-black);
      box-shadow: 2px 5px 15px -3px rgba(0, 0, 0, 0.25);
      transition: all var(--animation-duration) ease;
      &:hover {
        transform: scale(1.1);
      }
      .cards__link {
        display: block;
        height: inherit;
        overflow: hidden;
      }
      .cards__footer {
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        padding: var(--size-padding);
        width: 100%;
        height: 100%;
        .cards__title {
          letter-spacing: 3;
          width: 100%;
          text-align: center;
        }
        .cards__date {
          width: 100%;
          text-align: end;
          font-size: var(--font-small);
          font-style: italic;
          font-family: serif;
        }
      }
    }
  }
  .home__footer {
    background-color: var(--color-gray);
    border-top: 1px solid var(--color-black);
    padding: 1vh 1vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
    align-items: center;
    text-align: center;
    font-size: var(--font-small);
    .footer__copyright {
      .copyright__name {
        text-transform: uppercase;
        color: var(--color-blue);
      }
    }
    .footer__title {
      margin-bottom: 2vh;
      font-size: var(--font-medium);
    }
    .footer__nav {
      height: 100%;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          width: 100%;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    .footer__address {
      height: 100%;
      .address__links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      a {
        font-size: var(--font-large);
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .home__footer {
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
    }
    .footer__nav {
      font-size: var(--font-regular);
    }
    .footer__copyright {
      margin-top: 2vh;
      grid-column: 1/-1;
    }
  }
}
