@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "../reset.css";
@import "../scss/mixins.scss";

:root {
  --color-blue: #5ea3ec;
  --color-red: #f64444;
  --color-yellow: #ffb400;
  --color-background: #ffffff;
  --color-font: #000000;

  --font-regular: 3vh;
  --font-xsmall: 1.7vh;
  --font-small: 2.2vh;
  --font-medium: 6vh;
  --font-large: 8vh;
  --font-xlarge: 12vh;

  --nav-width: 4.5vw;
  --nav-count: 3;

  --size-logo: 8vh;
  --size-padding: 10vh;
}
* {
  box-sizing: border-box;
}
body {
  margin-right: calc(var(--nav-count) * var(--nav-width));
  font-family: "Prata", serif;
  font-size: var(--font-regular);
  letter-spacing: 1.3;
  line-height: 1.3;
  background-color: var(--color-background);
  color: var(--color-font);
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
  }
  h1 {
    font-size: calc(3vh + var(--font-xlarge));
  }
  h2 {
    font-size: var(--font-xlarge);
  }
  h3 {
    font-size: calc(1vh + var(--font-large));
  }
  h4 {
    font-size: var(--font-large);
  }
  h5 {
    font-size: var(--font-medium);
  }
  h6 {
    font-size: var(--font-small);
  }
  .section {
    padding: var(--size-padding);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8vh;
  }
  .btn {
    background: var(--color-background);
    border: 1px solid var(--color-font);
    padding: 2vh 4vw;
    font-family: sans-serif;
    font-size: var(--font-regular);
    letter-spacing: 1.5;
    transition: background 0.6s cubic-bezier(0.23, 1, 0.32, 1),
      color 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    &:hover {
      background-color: var(--color-font);
      color: var(--color-background);
    }
  }
  .flow {
    text-decoration: 0.3vh var(--color-yellow) wavy underline;
    animation: linkFloat 2s linear infinite;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}
@keyframes borderStraight {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 24px, -24px;
  }
}
@keyframes borderRound {
  from {
    background-position-x: 0, 0, 0, 100%;
    background-position-y: 0, 100%, 0, 0;
  }
  to {
    background-position-x: 30px, -30px, 0, 100%;
    background-position-y: 0, 100%, -30px, 30px;
  }
}
@keyframes linkFloat {
  from,
  to {
    text-underline-offset: 2vh;
  }
  50% {
    text-underline-offset: 2.2vh;
  }
}

header {
  & > * {
    position: fixed;
    z-index: 99;
  }
  .header__home {
    top: var(--size-padding);
    left: var(--size-padding);
    .logo {
      display: block;
      width: var(--size-logo);
      height: var(--size-logo);
      outline: 1px dashed var(--color-font);
      border-radius: 50%;
      font-family: sans-serif;
      font-size: var(--size-logo);
      font-weight: bold;
      line-height: var(--size-logo);
      text-align: center;
      transform: rotate(-15deg);
    }
  }
  .header__nav {
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(var(--nav-count), var(--nav-width));
    grid-template-rows: 100vh;
    a {
      @extend %flex;
      background-color: var(--color-blue);
      transform: translateY(-100vh);
      will-change: transform;
      &:first-child {
        animation: slideIn 0.5s ease-in-out 0.5s forwards;
      }
      &:nth-child(2) {
        background-color: var(--color-red);
        animation: slideIn 0.5s ease-in-out 0.4s forwards;
      }
      &:last-child {
        background-color: var(--color-yellow);
        animation: slideIn 0.5s ease-in-out 0.3s forwards;
      }
      span {
        transform: rotate(90deg);
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: var(--font-regular);
      }
    }
  }
}

main {
  .hero {
    padding-top: 40vh;
    .hero__text {
      padding-right: 15vh;
    }
    .hero__img {
      margin-top: 15vh;
      margin-left: calc(-50vw + 50%);
      height: 100vh;
      width: 100vw;
    }
  }

  .cards {
    .cards__title {
      grid-column: 1/-1;
    }
    .cards__card {
      display: flex;
      flex-direction: column;
      .card__img {
        height: 55vh;
      }
      .card__description {
        padding-top: 5vh;
        font-family: sans-serif;
        font-size: var(--font-small);
      }
    }
  }

  .events {
    .events__title-wrapper {
      @extend %flex;
      grid-column: 1/-1;
      & > * {
        width: 100%;
      }
      span {
        font-size: var(--font-large);
      }
    }
    .events__list {
      @extend %borderStraight;
      position: relative;
      padding: 10vh 0 15vh 0;
      grid-column: 1/-1;
      .events__event {
        a {
          display: flex;
          flex-direction: column;
          font-family: sans-serif;
          font-size: var(--font-small);
          text-align: center;
        }
        .event__date {
          font-size: var(--font-xsmall);
          padding: 3vh;
        }
      }
    }
    .events__more {
      position: absolute;
      justify-self: center;
      bottom: -10%;
      padding: 3vh 5vw;
    }
  }

  .address {
    grid-template-columns: repeat(2, 1fr);
    .address__detail {
      height: 50vh;
      @extend %flex;
      @extend %borderRound;
      .address__map {
        padding: 1px;
        height: 100%;
      }
    }
  }
}

footer {
  .section {
    padding: 0 var(--size-padding);
    & > * {
      @extend %borderRound;
    }
    .footer__vender {
      & > * {
        margin: 2vh;
      }
      @extend %borderSlash;
      @extend %flex;
      grid-column: 1/-1;
      flex-direction: column;
      padding: 5vh 0;
    }
    .footer__sns {
      padding: 5vh 0;
      a {
        @extend %flex;
        flex-direction: column;
        i {
          padding: 3vh 0;
          font-size: var(--font-medium);
        }
        span {
          font-size: var(--font-small);
          font-family: sans-serif;
        }
      }
    }
    .footer__newsletter {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 35% 65%;
      padding: 5vh 8vh;
      font-family: sans-serif;
      .newsletter__title {
        font-size: calc(var(--font-regular) + 1vh);
      }
      .newsletter__form {
        border: 1px solid var(--color-font);
        display: grid;
        grid-template-columns: 85% 15%;
        align-items: center;
        font-size: var(--font-small);
        input {
          padding: 2vh 3vh;
        }
        input[type="email"] {
          text-transform: capitalize;
          &::placeholder {
            color: var(--color-font);
          }
        }
        input[type="submit"] {
          transform: rotate(-90deg);
          font-size: var(--font-regular);
        }
      }
    }
  }

  .footer__nav {
    font-size: var(--font-xsmall);
    padding: var(--size-padding);
    padding-top: 5vh;
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-family: sans-serif;
      li {
        &:last-child {
          justify-self: flex-end;
          span {
            text-decoration: line-through;
          }
        }
        a {
          text-decoration: underline;
          span {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
