@import "../reset.css";
@import "../scss/mixins.scss";

:root {
  --color-black: #444444;

  --font-small: 2vh;
  --font-regular: 3vh;
  --font-medium: 4.1vh;
  --font-large: 5.3vh;
}
* {
  box-sizing: border-box;
}
body {
  font-family: serif;
  padding: 4vh 3vw;
  color: var(--color-black);
}

header {
  .header__title {
    font-size: var(--font-large);
    letter-spacing: 1.5;
    line-height: 1.3;
    font-weight: lighter;
    text-align: left;
  }
}

main {
  .projects {
    margin-top: 25vh;
    .projects__header {
      @extend %grid;
      label {
        @extend %smallFont;
      }
    }
    .projects__item {
      &:hover summary {
        font-style: italic;
      }
      summary {
        @extend %grid;
        font-size: var(--font-regular);
        padding: 2.5vh 0;
        border-top: 1px solid var(--color-black);
        i {
          justify-self: end;
        }
      }
      div {
        @extend %grid;
        p {
          grid-column: 2/-2;
          padding: 10vh 20vw 5vh 0;
          font-size: var(--font-regular);
          line-height: 1.5;
        }
        span {
          @extend %smallFont;
          grid-column: 2;
          padding-top: 1vh;
        }
        img {
          grid-column: 2/-2;
          height: auto;
          width: 100%;
          padding: 10vh 0;
        }
      }
    }
  }
  .text-lists {
    padding-top: 10vh;
    p {
      font-size: var(--font-medium);
      line-height: 1.5;
      .text-lists__category {
        @extend %smallFont;
      }
      a {
        color: inherit;
        &:hover {
          font-style: italic;
        }
      }
    }
  }
}

footer {
  margin: 7vh 0;
  @extend %smallFont;
}
