%nav {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%view-font {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
}
