%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%paragraphFont {
  line-height: 1.4;
  font-size: 2.1em;
}

%titleFont {
  font-size: 1.5em;
  font-weight: 600;
}
