@import "_variables";
@import "_mixins";
@import "_buttons";

body {
  background: black;
}
a {
  @extend %button;
  text-decoration: none;
}
button {
  @extend %button;
  :focus {
    outline: none;
  }
}
h1 {
  color: $red;
  font-size: $titleSize;
}

.box {
  :focus {
    outline: none;
  }
  background-color: $red;
  h1 {
    color: $blue;
  }
  &:hover {
    background-color: $blue;
    h1 {
      color: $red;
    }
  }
  button {
    &:nth-child(odd) {
      @include button("odd");
    }
    &:nth-child(even) {
      @include button("even");
    }
  }
}
