@import "_variables";
@import "_mixins";

body {
  background: black;
}
h1 {
  color: white;
  @include responsive("iphone") {
    color: gray;
  }
  @include responsive("ipad") {
    color: blue;
  }
  @include responsive("iphone-l") {
    font-size: 50px;
    color: yellow;
  }
  @include responsive("ipad-l") {
    font-size: 80px;
    color: red;
  }
}
