@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
}

body {
  header {
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    @extend %flex-center;
    height: 30vh;
    width: 100%;
    a {
      text-decoration: none;
      color: inherit;
      position: absolute;
      @extend %flex-center;
      letter-spacing: 1.2em;
      font-weight: 500;
      font-size: 1.2em;
    }
    nav {
      font-size: 0.6em;
      width: 90%;
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      letter-spacing: 0.1em;
      .header__nav__primary {
        @extend %nav;
      }
      .header__nav__secondary {
        @extend %nav;
        justify-content: flex-end;
      }
      li {
        padding: 1.5em;
        .wishlist-number {
          padding-left: 0.5em;
        }
        i {
          font-size: 1.7em;
        }
      }
    }
  }
  main {
    height: 1000vh;
    margin-top: $fixedTop;
    margin-bottom: $fixedBottom;
    .main__view-top {
      height: 80vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .view-top__text-wrapper {
        padding: 20vh;
        @extend %flex-center;
        flex-direction: column;
        background-color: $viewColor;
        .view-top__text {
          @extend %view-font;
          margin-bottom: 10vh;
        }
        a {
          text-decoration: none;
          padding: 3vh 4vh;
          border: 1px solid black;
          color: inherit;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-size: 0.5em;
          transition: color 0.3s ease-out, background 0.3s ease-out;
          text-align: center;
          &:hover {
            background-color: $buttonColor;
            color: white;
          }
        }
      }
    }
  }
  footer {
    height: $fixedBottom;
    background-color: $footerColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10vh;
    .footer__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.2em;
      text-align: center;
      font-size: 0.65em;
      font-weight: 500;
      text-transform: uppercase;
      &:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
      .footer__label {
        margin-bottom: 5vh;
        opacity: 0.5;
      }
      li {
        margin-bottom: 2vh;
        cursor: pointer;
      }
    }
  }
}
