@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: $red;
  height: 2000vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: $fixedWidth;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    margin: 5vh 0 2rem 2.5rem;
    color: $red;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: 0.1em;
  }
  .header__bottom {
    padding: 2.5rem;
    h3,
    p {
      line-height: 1.3;
      width: 85%;
    }
    h3 {
      color: $red;
      font-weight: 400;
      font-size: 1.35rem;
      margin-bottom: 0.8em;
    }
    p {
      color: $red;
      font-size: 1rem;
      text-indent: -0.3em;
      margin-bottom: 1em;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        cursor: pointer;
        opacity: 0.6;
        font-size: 0.8rem;
        margin-right: 1em;
        margin-bottom: 0.5em;
        border-bottom: 0.1rem solid black;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main {
  margin-left: $fixedWidth;
  .movie {
    background: linear-gradient(rgba(0, 0, 0, 0.03), transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $white;
    .movie__wrapper {
      width: 80%;
      .title__wrapper {
        width: 100%;
        display: flex;
        color: inherit;
        justify-content: space-between;
        margin-bottom: 1em;
        align-items: flex-end;
        h4 {
          font-size: 1.5em;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
        h5 {
          font-size: 0.8em;
          font-weight: 500;
        }
      }
      .img__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
          z-index: 99;
          position: absolute;
          color: inherit;
          font-size: 2.5em;
        }
        img {
          width: 100%;
          box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        }
      }
      .vote__wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 1em 0 1em 0;
        color: inherit;
        .vote__text {
          margin-top: 0.5em;
          margin-right: 0.8em;
          font-weight: 600;
          font-size: 0.9em;
        }
        .vote__icons {
          cursor: pointer;
          opacity: 0.7;
          display: flex;
          margin-right: 0.5em;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:nth-child(3) {
            margin-right: 0;
          }
          &:hover {
            opacity: 1;
          }
          i {
            margin-bottom: 0.4em;
            font-size: 1.3em;
          }
          h5 {
            font-size: 0.8em;
            font-weight: 300;
          }
        }
      }
    }
  }
}
